In [14]:
import numpy as np
import pandas as pd

In [ ]:
from math import sqrt
x = [1, 1,]
sum = 0
for val in x:
    sum += (val - 2.5) ** 2
ans = sum/3
print(sqrt(ans))

In [38]:
dict1 = {
    "name": ["Harry", "Rohan", "skillf", "Shubh", "Harry1", "Rohan1", "skillf1", "Shubh1"],
    "marks": [92, 55, 55, 60, 92, 55, 55, 60],
    "city": ["Mumbai", "kolkata", "pune", "chennai", "kolkata", "Mumbai", "mumbai", "chennai"]
}
    
df = pd.DataFrame(dict1)
df["city"] = df["city"].str.lower()
df2 = df.loc[(df["city"] == "mumbai")]
mean_mub = df2["marks"].mean()
print(mean_mub)
print(df2.loc[(df2["marks"] > mean_mub)])

67.33333333333333
    name  marks    city
0  Harry     92  mumbai

In [16]:
print(df.head(2))
print(df.tail(2))
print(df.describe())
print(df.index)
print(df.columns)
print(df.shape)
print(df.info())
print(df.isnull())
print(df["marks"].value_counts(dropna=False))
# df.min() #max, mean, median, corr, count, std

    name  marks     city
0  Harry     92   mumbai
1  Rohan     55  kolkata
      name  marks     city
6  skillf1     55   mumbai
7   Shubh1     60  chennai
           marks
count   8.000000
mean   65.500000
std    16.501082
min    55.000000
25%    55.000000
50%    57.500000
75%    68.000000
max    92.000000
RangeIndex(start=0, stop=8, step=1)
Index(['name', 'marks', 'city'], dtype='object')
(8, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    8 non-null      object
 1   marks   8 non-null      int64
 2   city    8 non-null      object
dtypes: int64(1), object(2)
memory usage: 320.0+ bytes
None
    name  marks   city
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False
4  False  False  False
5  False  False  False
6  False  False  False
7  False  False  False
55    4
92    2
60    2
Name: marks, dtype: int64

In [ ]:
df.to_csv("test_data.csv")
df.to_csv("test_data2.csv", index=False)

In [ ]:
test_data2 = pd.read_csv("test_data2.csv")
print(test_data2)
print(test_data2["name"][0])

In [ ]:
test_data2.index = ["00", "01", "10", "11"]
print(test_data2)

In [ ]:
series_data = pd.Series(np.random.rand(10))
print(series_data)
print(type(series_data))

In [ ]:
df2 = pd.DataFrame(np.random.rand(10,4))
#print(df2.head())
#print(df2.to_numpy)
#print(df2.T)
print(df2.sort_index(axis=0, ascending=False))
df3 = df2.copy()
print(df3["A"].isnull())

In [ ]:
df3 = pd.DataFrame(np.random.rand(10,4))
df3.columns = list("ABCD")
# print(df3.loc[0, "A"]) # Use of loc function to access data
# print(df3["A"][0])
df3["A"][0] = 555
# df3["E"][0] = "AASS" #Gives an key error
# df3.loc[0, "E"] = "asaa" # Adds new column with name E
# print(df3.drop("E", axis=1)) # To drop E column  Adding parameter inplace=True modifies df3 itself
print(df3.drop([1,3], axis=0)) # To drop row 1,3
# df3.reset_index(drop=True) # TO reset the index if 1 and 3 are deleted drop=True avoid to keep previous index
df3.loc[[1,2], ["C",'D']]
# df3.loc[:, ["C",'D']], df3.loc[[1,2], :] All row or column
# df3.loc[(df3["A"] < 0.3)] # (df3["A"] < 0.3) -> gives True at 4 index all other values False
# df3.iloc[[0,1], [1,2]] # iloc uses indexing for columns
# df3.loc[:, ["B"]] = 5  # To assign value for whole column

In [ ]:
df4 = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
                   "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                            pd.NaT]})
print(df4)
print(df4.dropna())
df4.iloc[1, 2] = None 
print(df4.dropna(how="all", axis=1))
df4.iloc[2, 0] = "Alfred"
df4.drop_duplicates(subset=["name"], keep=False) # keep="first", keep="last", keep="False"

In [ ]:
excel_data = pd.read_excel("listdata.xlsx") # Can Add sheet_name="Sheet1"
print(excel_data)
excel_data.to_excel("listdata_new.xlsx")

In [ ]:
s = pd.Series([55, 55, 60, 99])
s.describe()
x = sorted(s)
step = 100/3
#y = [val *10 for val in x]
y =[val * step for val in range(0, 4)]
print(x)
print(y)
import matplotlib.pyplot as plt
plt.plot(x, y)

In [ ]:
s = pd.Series([55, 55, 60, 99])
s.describe()

In [23]:
import pandas as pd
dict1 = {"name":"number"}
column_names = [list(dict1.keys())[0], list(dict1.values())[0]]
csv_data = pd.read_csv("sample.csv", names=column_names)
data_row = csv_data.shape[0]
print(data_row)
csv_data.index = list(range(1,data_row+1))
csv_data.to_csv("sample2.csv")
print(csv_data)

3
     name  number
1  eknath       1
2   ameet       3
3    abhi       2

In [49]:
df3 = pd.DataFrame(np.random.rand(10,4))
df3.columns = list("ABCD")
#df.index = list(range(10))

#df.index = list(range(1,9))
#df.columns = list("ABC")
#print(df.loc[0, "name"])
#print(df3)
print(df)
print(type(df["name"])) # Use of loc function to access data
# print(df3["A"][0])
#df3["A"][0] = 555
# df3["E"][0] = "AASS" #Gives an key error
# df3.loc[0, "E"] = "asaa" # Adds new column with name E
# print(df3.drop("E", axis=1)) # To drop E column  Adding parameter inplace=True modifies df3 itself
#print(df3.drop([1,3], axis=0)) # To drop row 1,3
# df3.reset_index(drop=True) # TO reset the index if 1 and 3 are deleted drop=True avoid to keep previous index
#df3.loc[[1,2], ["C",'D']]
# df3.loc[:, ["C",'D']], df3.loc[[1,2], :] All row or column
# df3.loc[(df3["A"] < 0.3)] # (df3["A"] < 0.3) -> gives True at 4 index all other values False
# df3.iloc[[0,1], [1,2]] # iloc uses indexing for columns
# df3.loc[:, ["B"]] = 5  # To assign value for whole column

SyntaxError: unexpected EOF while parsing (<ipython-input-49-93ac26bae42e>, line 22)